:host ::ng-deep {
  .cus-btn-delete mat-icon {
    color: red; /* Set the color of the icon */
  }
}
.mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
}

.paginator {
  margin-top: 1rem;
}