@if (isLoading) {
<mat-spinner class="mat-spinner"></mat-spinner>
} @else {
@if (dataSource.length > 0) {
<mat-accordion>
    @for (item of dataSource; track item.id) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            {{ item?.title }}
        </mat-expansion-panel-header>
        <div class="post-image">
            <img [src]="item?.imagePath" [alt]="item?.title" />
        </div>
        <p>{{ item?.content }}</p>
        <mat-action-row>
            <a mat-button [routerLink]="['/edit', item.id]" routerLinkActive="router-link-active">
                <mat-icon>edit</mat-icon>
            </a>
            <button mat-button class="cus-btn-delete" (click)="onDelete(item.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-action-row>
    </mat-expansion-panel>
    }

    @if(dataSource.length > 0) {
        <mat-paginator class="paginator" [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page"
        (page)="onPageChange($event)">
        </mat-paginator>
    }

</mat-accordion>
} @else {
<p>No posts found</p>
}
}