<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-sidenav-container class="main-container">
  <!-- Sidebar -->
  <mat-sidenav mode="side" [opened]="isSidebarOpen">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="main-content">
    <!-- Header -->
    <app-header (toggleSidebar)="toggleSidebar()"></app-header>

    <!-- Main Content Area -->
    <div class="container mx-auto">
      <router-outlet />
      <!-- <app-post-create /> -->
      <!-- <app-post-list class="cus-post-list" /> -->
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-header />
<main class="main">
  <h1>Hello, {{ title }}</h1>
  <p>Congratulations! Your app is running. 🎉</p>

</main> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
