/* Full height for the main container */
.main-container {
  height: 100vh;
}

.content {
  margin: 0px 30px;
}

/* Active link styling */
.active-link {
  font-weight: bold;
  color: #3f51b5;
}

.cus-post-list{
  display: block;
  margin-top: 20px;
}
