.cus-mat-field {
  background-color: white;
}

.cus-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: 20px;
}
.mat-spinner {
  margin: auto;
}

input[type='file'] {
  visibility: hidden;
}

.img-preview {
  height: 5rem;
  margin: 1rem 0;
}

.img-preview img {
  width: 100%;
  height: 100%;
}