<mat-card>
    @if (isLoading) {
    <mat-spinner class="mat-spinner"></mat-spinner>
    }
    @else {
    <form (submit)="onSavePost(postForm)" #postForm="ngForm">
        <div class="flex flex-col m-4">
            <div class="columns-1">
                <mat-form-field class="w-full">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" name="title" [ngModel]="post?.title" placeholder="Post Title" required
                        #title="ngModel" minlength="3" />
                    @if (title.invalid) {
                    <mat-error>Please enter post title</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="columns-1">
                <mat-form-field class="w-full">
                    <mat-label>Content</mat-label>
                    <textarea matInput name="content" rows="4" placeholder="Post Content" [ngModel]="post?.content"
                        required #contet="ngModel">
                    </textarea>
                    @if (title.invalid) {
                    <mat-error>Please enter post content</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="cus-btn">
            <button mat-flat-button type="submit" color="accent">Save Post</button>
            <button mat-raised-button type="cancel" (click)="onCancel()" style="margin-left: 10px;">Cancel</button>
        </div>
    </form>
    }
</mat-card>